.list-container{
    width: 40%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    gap: 150px;

}

.style{
&__title{
    font-size: 20px;
    color:#44aa9e;
}
&__image{
   width: 200px;
   border: 10px solid #076969;
   border-radius: 10%;
}

}

.fav-style{

    &__fav-title{
        font-size: 20px;
    color: #076969;
    }
    &__fav-image{
        width: 200px;
        border: 10px solid #44aa9e;
        border-radius: 10%;
    }
    
}

.close{
    width: 20px;
    height:20px;
    border: 2px solid #dbb867;
    background-color: #f1a20f;
    border-radius: 50%;
    
    &__text{
        font-size: 10px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight:900;
        transform: translate(20% , 5%);
        color: rgb(251, 245, 237);
    }
}