.list-container{
    width: 40%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;

}

.title{
    font-size: 20px;
    color: cadetblue;
}
.image{
   width: 200px;
   border: 10px solid palegreen;
}